
body {
    font-family: Arial, sans-serif;
    background-color: #fff; /* White background */
    margin: 0;
    padding: 0;
    color: #663399; /* Purple text color */
}

header {
    background-color: #ff69b4; /* Pink background */
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* White background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-style:solid;
    border-color: lightpink;
}

/* Style for your picture */
.profile-picture {
    max-width: 100%;
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 20px; /* Add space between the picture and the following content */
}
/* Style for the image gallery */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    margin: 10px; /* Add spacing between gallery items */
}

.gallery-item img {
    max-width: 100%;
    height: auto;
}

body {
    background-image: url("Images/polkadots.jpg");
}

p {
    padding: 10px; /* Add padding to the paragraph */
}

h2 { text-align:center; }

.container-fluid {background-color:#ff69b4;  }

#carousel { color:            #ff69b4;
    align-items: center;
}